<h1 class="title">Movies</h1>

<table id="movies">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release</th>
      <th>Average Score</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to(movie.title, "/movies/#{movie.id}")   %></td>
        <td><%= movie.release_date %></td>
        <td><%= movie.average_score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
